# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django specific
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VS Code specific
.vscode/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE specific
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Celery
celerybeat-schedule
celerybeat.pid

# Other
*.bak
*.tmp
*.old
*.orig
*.~lock.*